<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFAlumnos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12221/WCFAlumnos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFAlumnos" contract="WCFAlumnos.IWCFAlumnos"
                name="BasicHttpBinding_IWCFAlumnos" />
        </client>
    </system.serviceModel>
</configuration>